<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
# Exercise 2: Create Markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [3]:
# Exercise 3: Create a markdown cell for an Introduction

In [4]:
# Exercise 10: Insert a markdown cell to list objectives

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**

* Present popular languages for Data Science
* Present most commom libraries for Data Science
* Present most common tools for Data Science
* Multiply and add integers

In [6]:
# Exercise 4: Create a markdown cell to list data science languages

Among the data science languages are the following:
1. Python
2. R
3. C++
4. SQL
5. Java
6. Julia
7. Scala

In [8]:
# Exercise 5: Create a markdown cell to list data science libraries

Some of the most common used libraries used by Data Scientists include:
1. Scikit-Learn
2. Pandas
3. NumPy
4. Matplotlib
5. Seaborn
6. Keras

In [9]:
# Exercise 6: Create a markdown cell with a table of Data Science Tools

Data Science Tools|
---|
Jupyter Notebook|
Spyder|
VS Code|

In [10]:
# Exercise 7: Create a markdown cell introducing arithmetic expressions in python

### Below are some examples of evaluating arithmetic expressions in Python

In [11]:
# Exercise 8: Create a code cell to multiply and add numbers

In [12]:
# This is a simple arithmetic expressions to multiply and then add integers

In [13]:
(3*4)+5

17

In [14]:
# Exercise 9: Create a code cell to convert minutes to hours

In [15]:
# This will convert 200 minutes to hours by dividing by 60

In [16]:
200/60

3.3333333333333335

In [17]:
# Exercise 11: Create a markdown cell to indicate the Author's name

## Author
Margarita